In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import parser

#### Total de datos
 
 - CSV Original: 	1,030,000 (1 millon 30 mil datos)
 - CSV sin datos vacios:   1,013,246 (1 millon 13 mil 246 datos) -->  **16,754** datos vacios (**1.63%**)
 - CSV sin duplicados:   986,940 (986 mil 940 datos) --> 26,306 datos duplicados (**2.6%**, tomando el CSV sin datos vacios como **100%**)

In [2]:
df = pd.read_csv("../../../Datas/7. archivo_limpio.csv", encoding="utf-8")
df.head()

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,2025-09-03,28.32,GUADALAJARA,9

In [3]:
df["id_transaccion"].unique()

array([      1,       2,       3, ..., 1029988, 1029989, 1029997],
      shape=(986940,))

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986940 entries, 0 to 986939
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_transaccion      986940 non-null  int64
 1   id_producto         986940 non-null  int64
 2   nombre_producto     986940 non-null  object
 3   id_tienda           986940 non-null  int64
 4   nombre_tienda       986940 non-null  object
 5   categoria_tienda    986940 non-null  object
 6   fecha               986940 non-null  object
 7   precio_normalizado  986940 non-null  float64
 8   ciudad_normalizada  986940 non-null  object
 9   mes                 986940 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 75.3+ MB

,id_transaccion,id_producto,id_tienda,precio_normalizado,mes
count,9.869400e+05,986940.000000,986940.000000,986940.000000,986940.000000
mean,5.021184e+05,50.501946,5.504210,47.203432,6.526557
std,2.900362e+05,28.862948,2.872358,58.796422,3.451102
min,1.000000e+00,1.000000,1.000000,6.150000,1.000000
25%,2.509548e+05,26.000000,3.000000,18.880000,4.000000
50%,5.019905e+05,51.000000,6.000000,28.940000,7.000000
75%,7.530942e+05,75.000000,8.000000,50.040000,10.000000
max,1.029997e+06,100.000000,10.000000,450.000000,12.000000

In [15]:
print("ID de los productos",df["id_producto"].unique())
print("Total de registros:",df["id_producto"].nunique())

ID de los productos [ 63  32  77  45  42  72  85  53  78  36  23  76  37  10  18  94  19  59
  75  35  29  58  60  82   7  87  51  50  17  91  22  49  65  39 100  95
  56  97  70  44  21  25  34  33  16   2  57  31  40  52   8  55  90  98
  38  61  43  30  41  11  62  96  81  68   1  27  88  13  47   3  24   5
  99  86  12  28   6  67  69  74  71  80  26  89  83  48  54  93  84  15
  64   4   9  46  20  66  92  14  73  79]
Total de registros: 100

In [16]:
print(df["nombre_producto"].unique())
print("Total de registros diferentes",df["nombre_producto"].nunique())

['Salsa Bufalo' 'Agua Epura 1L' 'Cereal Choco Krispis'
 "Mix de Nueces Member's Mark" 'Yoghurt Griego Yoplait' 'Suero Electrolit'
 'Cerveza Heineken' 'Cacahuates Hot Nuts' 'Cereal Froot Loops'
 'Aceite Capullo' 'Chocolate Abuelita Tabletas' 'Cereal Cheerios'
 'Mayonesa McCormick' 'Aceite Nutrioli 1L' 'Jugo del Valle Mango'
 'Frijoles Bayos La Sierra' 'Refresco Fanta 600ml' 'Ron Bacardí Blanco'
 'Churrumais' 'Café de Olla La Finca' 'Sal La Fina' 'Cerveza Victoria'
 'Tequila José Cuervo Tradicional' 'Choco Milk' 'Café Soluble Nescafé'
 'Agua Ciel 1L' 'Té Limón Lipton' 'Pan Molido Bimbo' 'Queso Oaxaca Lala'
 'Atún Dolores' 'Doritos Nacho' 'Powerade Moras 500ml'
 'Leche Deslactosada Lala' "Mostaza French's" 'Detergente Ariel 1kg'
 'Helado Holanda' 'Cerveza Corona 355ml' 'Crema Philadelphia'
 'Pan Integral Bimbo' 'Cacahuates Kacang' 'Sabritas Clásicas'
 'Jamón de Pavo FUD' 'Monster Energy' 'Red Bull'
 'Tortillas de Maíz Maseca' 'Pepsi 600ml' 'Cerveza Modelo Especial'
 'Sopa Maruchan Pollo' 'Queso Panela Lala' 'Avena Quaker'
 'Arroz Verde Valle' 'Vino Tinto Casillero del Diablo'
 'Tortillas Tía Rosa' 'Pan de Caja Wonder' 'Ketchup Heinz'
 'Mezcal 400 Conejos' 'Galletas Oreo' 'Pasta La Moderna' 'Chobani Yogurt'
 'Atún Herdez en Agua' 'Salsa Valentina' 'Queso Manchego NocheBuena'
 'Refresco Manzanita Sol' 'Pingüinos Marinela' 'Coca-Cola 600ml'
 'Mantequilla Gloria' 'Refresco Fresca 600ml' 'Cereal Zucaritas'
 'Chocolate Milky Way' 'Agua Bonafont 1L' 'Pan Tostado Bimbo'
 'Pan Bimbo Blanco' 'Papel Higiénico Pétalo' 'Cerveza Stella Artois'
 'Yogurt Danone' 'Azúcar Zulka 1kg' 'Leche Lala Entera 1L'
 'Gansito Marinela' 'Chocolate Carlos V' 'Papas Ruffles Queso'
 'Barra de Granola Nature Valley' 'Jugo Boing Guayaba' 'Crema Alpura'
 'Mole Doña María' 'Nescafé Cappuccino' 'Refresco Sprite 600ml'
 'Agua Mineral Topo Chico' "Sopa Campbell's" 'Té Chai Twinings'
 'Huevo San Juan 18p' 'Café Garat' 'Galletas María Gamesa'
 'Frijoles Isadora' 'Chocolate Snickers' 'Gatorade Azul 500ml'
 'Yogurt Activia' 'Sardinas La Sirena' 'Jugo Jumex Durazno'
 'Suero Pedialyte' 'Jugo Boing Mango']
Total de registros diferentes 100

In [7]:
print("ID de las tiendas", df["id_tienda"].unique())

[ 6  5  2  7  1  8  4 10  9  3]

In [8]:
print("Nombre de las tiendas", df["nombre_tienda"].unique())

['City Market' 'Chedraui' "Sam's Club" 'La Comer' 'Walmart' 'Costco'
 'Soriana' 'Oxxo' 'Tienda 3B' 'Bodega Aurrera']

In [9]:
print("Categorias de las tiendas", df["categoria_tienda"].unique())

['Premium' 'Autoservicio' 'Mayoreo' 'Conveniencia' 'Descuento']

In [10]:
print(df["fecha"].describe())

count         986940
unique           365
top       2025-06-21
freq            2848
Name: fecha, dtype: object

In [11]:
print("Ciudades en las que se reparte el data",df["ciudad_normalizada"].unique())

['CANCUN' 'PUEBLA' 'GUADALAJARA' 'CDMX' 'MONTERREY']

In [12]:
print(df["mes"].unique())

[10 12 11  9  2  1  3  8  7  6  4  5]

In [13]:
print ("Registros de los precios",df["precio_normalizado"].describe())

count    986940.000000
mean         47.203432
std          58.796422
min           6.150000
25%          18.880000
50%          28.940000
75%          50.040000
max         450.000000
Name: precio_normalizado, dtype: float64

In [24]:
from IPython.display import display

print("Producto con el registro de precio mínimo:")
display(df.loc[df["precio_normalizado"] == df["precio_normalizado"].min()])

print("\nProducto con el registro de precio máximo:")
display(df.loc[df["precio_normalizado"] == df["precio_normalizado"].max()])

Producto con el registro de precio mínimo:

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,fecha,precio_normalizado,ciudad_normalizada,mes
985567,1025366,3,Agua Bonafont 1L,9,Tienda 3B,Descuento,2025-10-14,6.15,PUEBLA,10

Producto con el registro de precio máximo:

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,fecha,precio_normalizado,ciudad_normalizada,mes
631973,642956,61,Mezcal 400 Conejos,5,Chedraui,Autoservicio,2025-04-10,450.0,MONTERREY,4