In [ ]:
#pip install pandas numpy matplotlib seaborn

In [10]:
#Cargar el datasetimport Pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
with open ("ventas_retail_1M.csv", encoding = "utf-8") as file:
    df = pd.read_csv(file)

In [16]:
print(df.head())

print(df.tail())

   id_transaccion id_producto              nombre_producto precio id_tienda  \
0               1          63                 Salsa Bufalo   23.1         6
1               2          32                          NaN   9.49         5
2               3          77         Cereal Choco Krispis  53.36         2
3               4          45  Mix de Nueces Member's Mark  88.14         7
4               5          42       Yoghurt Griego Yoplait  28.32         1

  nombre_tienda categoria_tienda  ciudad       fecha
0   City Market          Premium  CANCUN  2025-10-27
1      Chedraui     Autoservicio  PUEBLA  2025-12-27
2    Sam's Club          Mayoreo  PUEBLA  2025-11-09
3      La Comer          Premium  CANCUN  2025-10-27
4       Walmart     Autoservicio     GDL  2025-09-03
         id_transaccion id_producto         nombre_producto  precio id_tienda  \
1029995         1029996          90      Tortillas Tía Rosa   25.64         7
1029996         1029997         100    Detergente Ariel 1kg  179.65         3
1029997         1029998          42  Yoghurt Griego Yoplait   32.12         9
1029998         1029999          26           Crema Alpura    39.91         6
1029999         1030000           2             Pepsi 600ml   16.68         7

          nombre_tienda categoria_tienda       ciudad       fecha
1029995        La Comer          Premium        GDL    2025-09-30
1029996  Bodega Aurrera        Descuento          GDL  2025-10-28
1029997       Tienda 3B        Descuento  GUADALAJARA  2025-03-30
1029998     City Market          Premium          GDL  2025-10-30
1029999        La Comer          Premium       puebla  2025-12-10

In [17]:
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030000 entries, 0 to 1029999
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id_transaccion    1030000 non-null  int64
 1   id_producto       1030000 non-null  object
 2   nombre_producto   1013293 non-null  object
 3   precio            1013461 non-null  object
 4   id_tienda         1030000 non-null  object
 5   nombre_tienda     1030000 non-null  object
 6   categoria_tienda  1030000 non-null  object
 7   ciudad            1013246 non-null  object
 8   fecha             1030000 non-null  object
dtypes: int64(1), object(8)
memory usage: 70.7+ MB

,id_transaccion,id_producto,nombre_producto,precio,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha
count,1.030000e+06,1030000,1013293,1013461,1030000,1030000,1030000,1013246,1030000
unique,NaN,400,3323,44944,40,40,5,708,1616
top,NaN,15,Café Soluble Nescafé,15.3,6,City Market,Autoservicio,CDMX,2025-06-21
freq,NaN,10325,10170,521,102240,102254,307486,200074,2939
mean,5.150005e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.973355e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.575008e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.150005e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,7.725002e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.030000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Esto nos quiere decir tenemos un registro con 1,030,000 registros, el cual tiene 9 columnas:
1)id transaccion      2)id producto          3)nombre      4)producto           5)precio       6)id tienda         7)categoria tienda               8)ciudad          9)fecha

de los cuales hay datos faltantes:

nombre del producto: 16,707 faltantes
- precio: 16,539
- ciudad: 16,754

Primeramente debemos rellenar los datos faltantes, en el caso de las ciudades vamos a rellenar de acuerdo al id de la tienda, para ello primero debemos sacar que id le corresponde a cada tienda, de paso contamos igual cuantos productos hay. Entonces vamos a generar un data de que tiendas hay y los productos que hay

In [25]:
tiendas_unicas = df['id_tienda'].nunique()
productos_unicos = df['id_producto'].nunique()

print(f"Número de tiendas únicas: {tiendas_unicas}")
print(f"Número de productos únicos: {productos_unicos}")

Número de tiendas únicas: 40
Número de productos únicos: 400

esto conto unicamente los no repetidos, pero al haber un pequeno cambio en la notacion el conteo puede cambiar, asi que primero debemos normalizar los datos de los id de producto y de las tiendas para tomarlo como base para hacer la agrupacion.

In [37]:
df['id_producto'].isna().sum()
df['id_tienda'].isna().sum()

df['id_producto'].astype(str).str.contains(r'^\s|\s$', regex=True).sum()
df['id_tienda'].astype(str).str.contains(r'^\s|\s$', regex=True).sum()

df['id_producto'].astype(str).str.contains(r'\D').sum()
df['id_tienda'].astype(str).str.contains(r'\D').sum()

df['id_producto'].astype(str).str.match(r'^0+\d+').sum()
df['id_tienda'].astype(str).str.match(r'^0+\d+').sum()

id_prod_strip = df['id_producto'].astype(str).str.strip()
id_prod_strip.nunique(), df['id_producto'].nunique()


(
    df.groupby('id_producto')['nombre_producto']
      .nunique()
      .reset_index(name='nombres_distintos')
      .query('nombres_distintos > 1')
)
(
    df.groupby('id_tienda')['nombre_tienda']
      .nunique()
      .reset_index(name='nombres_distintos')
      .query('nombres_distintos > 1')
)

C:\Users\links\AppData\Local\Temp\ipykernel_16112\1120851624.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('id_producto')['nombre_producto']

   id_tienda  nombres_distintos
20         1                  4
21        10                  4
22         2                  4
23         3                  4
24         4                  4
25         5                  4
26         6                  4
27         7                  4
28         8                  4
29         9                  4

In [38]:
resumen_errores = pd.DataFrame({
    "Error": [
        "Nulos",
        "Espacios",
        "No numéricos",
        "Ceros a la izquierda",
        "Formato inconsistente",
        "ID con múltiples entidades"
    ],
    "Producto": [
        df['id_producto'].isna().sum(),
        df['id_producto'].astype(str).str.contains(r'^\s|\s$', regex=True).sum(),
        df['id_producto'].astype(str).str.contains(r'\D').sum(),
        df['id_producto'].astype(str).str.match(r'^0+\d+').sum(),
        df['id_producto'].nunique() - id_prod_strip.nunique(),
        df.groupby('id_producto')['nombre_producto'].nunique().gt(1).sum()
    ],
    "Tienda": [
        df['id_tienda'].isna().sum(),
        df['id_tienda'].astype(str).str.contains(r'^\s|\s$', regex=True).sum(),
        df['id_tienda'].astype(str).str.contains(r'\D').sum(),
        df['id_tienda'].astype(str).str.match(r'^0+\d+').sum(),
        df['id_tienda'].nunique() - df['id_tienda'].astype(str).str.strip().nunique(),
        df.groupby('id_tienda')['nombre_tienda'].nunique().gt(1).sum()
    ]
})

resumen_errores

C:\Users\links\AppData\Local\Temp\ipykernel_16112\2654398511.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('id_producto')['nombre_producto'].nunique().gt(1).sum()

                        Error  Producto  Tienda
0                       Nulos         0       0
1                    Espacios      4726    4727
2                No numéricos      9665    9599
3        Ceros a la izquierda      4877    4671
4       Formato inconsistente       100      10
5  ID con múltiples entidades       322      10

Efectivamente los ID tanto de los productos como de las tiendas tienen errores, entonces tenemos que corregirlos:
- Los espacios se pueden resolver con strip()
- Los no numericos abria que ver de que tipos son y si se pueden corregir
- Los ceros a la izquierda tambien son corregibles
- Los formatos inconsistentes abria que ver de que tipos son
- para los ID multiples abria que hacer un conteo de productos y ver que ID relacionado con producto y tienda se repiten mas y corregir los incorrectos

In [39]:
#Corregir los espacios en los IDs
df['id_producto_raw'] = df['id_producto']
df['id_tienda_raw'] = df['id_tienda']

df['id_tienda_clean'] = (
    df['id_tienda']
    .astype(str)
    .str.strip()
)
#detectamos cuales no tienen problemas
mask_prod_num = df['id_producto_clean'].str.fullmatch(r'\d+')
mask_tienda_num = df['id_tienda_clean'].str.fullmatch(r'\d+')

df.loc[mask_prod_num, 'id_producto_clean'] = (
    df.loc[mask_prod_num, 'id_producto_clean']
      .str.lstrip('0')
      .replace('', '0')
)

df.loc[mask_tienda_num, 'id_tienda_clean'] = (
    df.loc[mask_tienda_num, 'id_tienda_clean']
      .str.lstrip('0')
      .replace('', '0')
)

In [41]:
#Creamos las columnas normalizadas
df['id_producto_norm'] = df['id_producto_clean']
df['id_tienda_norm'] = df['id_tienda_clean']


print("RESUMEN PRODUCTOS")
print(f"Productos antes:    {df['id_producto_raw'].nunique()}")
print(f"Productos después:  {df['id_producto_norm'].nunique()}")
print(f"Reducción:          {df['id_producto_raw'].nunique() - df['id_producto_norm'].nunique()}")

print("\nRESUMEN TIENDAS")
print(f"Tiendas antes:      {df['id_tienda_raw'].nunique()}")
print(f"Tiendas después:    {df['id_tienda_norm'].nunique()}")
print(f"Reducción:          {df['id_tienda_raw'].nunique() - df['id_tienda_norm'].nunique()}")

RESUMEN PRODUCTOS
Productos antes:    400
Productos después:  200
Reducción:          200

RESUMEN TIENDAS
Tiendas antes:      40
Tiendas después:    20
Reducción:          20

El siguiente error a arreglar debe ser el de multiples identidades, para ello vamos a sacar una meustra de frecuencia, es decir ver para que ID tanto de producto como tienda que tienda u objeto se repite mas, y sacado eso vamos a reemplazar los ID erroneos por ese ID

In [44]:
conteo_tiendas = (
    df.groupby(['id_tienda_norm', 'nombre_tienda'])
      .size()
      .reset_index(name='conteo')
)

conteo_productos = (
    df.groupby(['id_producto_norm', 'nombre_producto'])
      .size()
      .reset_index(name='conteo')
)

In [45]:
total_tiendas = (
    conteo_tiendas
    .groupby('id_tienda_norm')['conteo']
    .sum()
    .reset_index(name='total')
)
total_productos = (
    conteo_productos
    .groupby('id_producto_norm')['conteo']
    .sum()
    .reset_index(name='total')
)

In [46]:
tienda_dom = (
    conteo_tiendas
    .sort_values(['id_tienda_norm', 'conteo'], ascending=[True, False])
    .groupby('id_tienda_norm')
    .first()
    .reset_index()
)

producto_dom = (
    conteo_productos
    .sort_values(['id_producto_norm', 'conteo'], ascending=[True, False])
    .groupby('id_producto_norm')
    .first()
    .reset_index()
)

In [47]:
tienda_dom = tienda_dom.merge(total_tiendas, on='id_tienda_norm')
tienda_dom['porcentaje'] = tienda_dom['conteo'] / tienda_dom['total']

producto_dom = producto_dom.merge(total_productos, on='id_producto_norm')
producto_dom['porcentaje'] = producto_dom['conteo'] / producto_dom['total']

In [48]:
tiendas_confiables = tienda_dom[tienda_dom['porcentaje'] >= 0.9]
productos_confiables = producto_dom[producto_dom['porcentaje'] >= 0.9]

tiendas_conflictivas = tienda_dom[tienda_dom['porcentaje'] < 0.9]
productos_conflictivos = producto_dom[producto_dom['porcentaje'] < 0.9]

In [49]:
map_tienda = (
    tiendas_confiables
    .set_index('id_tienda_norm')['nombre_tienda']
    .to_dict()
)
map_producto = (
    productos_confiables
    .set_index('id_producto_norm')['nombre_producto']
    .to_dict()
)

In [50]:
df['nombre_tienda_corr'] = df['id_tienda_norm'].map(map_tienda)
df['nombre_producto_corr'] = df['id_producto_norm'].map(map_producto)

In [51]:
df['nombre_tienda_final'] = df['nombre_tienda_corr'].fillna(df['nombre_tienda'])
df['nombre_producto_final'] = df['nombre_producto_corr'].fillna(df['nombre_producto'])

In [52]:
impacto_tienda = (
    df['nombre_tienda'] != df['nombre_tienda_final']
).sum()
impacto_producto = (
    df['nombre_producto'] != df['nombre_producto_final']
).sum()

En teoria ya hemos normalizados los ID, pero ahora queremos saber que ID corresponde a cada cosa, para ello vamos a crear dos csv con los ID de las tiendas y con los ID de los productos

In [60]:
tabla_tiendas = (
    df[['id_tienda_norm', 'nombre_tienda_final']]
    .drop_duplicates()
    .sort_values(by='id_tienda_norm')
    .rename(columns={
        'id_tienda_norm': 'id_tienda',
        'nombre_tienda_final': 'tienda'
    })
)
tabla_productos = (
    df[['id_producto_norm', 'nombre_producto_final']]
    .drop_duplicates()
    .sort_values(by='id_producto_norm')
    .rename(columns={
        'id_producto_norm': 'id_producto',
        'nombre_producto_final': 'producto'
    })
)

In [63]:
tabla_tiendas.to_csv("dim_tiendas.csv", index=False)
tabla_productos.to_csv("dim_productos.csv", index=False)

print(tabla_tiendas.head())
print(tabla_tiendas.tail())
print(tabla_productos.head())
print(tabla_productos.tail())

   id_tienda          tienda
4          1         Walmart
8         10            Oxxo
2          2      Sam's Club
21         3  Bodega Aurrera
7          4         Soriana
     id_tienda       tienda
2003       ID5     Chedraui
2617       ID6  City Market
696        ID7     La Comer
5299       ID8       Costco
239        ID9    Tienda 3B
    id_producto              producto
102           1       Coca-Cola 600ml
13           10    Aceite Nutrioli 1L
42          100  Detergente Ariel 1kg
92           11   Atún Herdez en Agua
124          12         Yogurt Danone
      id_producto                   producto
21499        ID95             Helado Holanda
405          ID96  Queso Manchego NocheBuena
15177        ID97         Crema Philadelphia
76654        ID98         Pan de Caja Wonder
7261         ID99     Papel Higiénico Pétalo

Esto nos dice que si bien los ID ya estan normalizados existen otro tipo de ID que tienen explicito escrito ID. Entonces tenemos que reemplazarlos tambien

In [64]:
mask_prod_prefijo = df['id_producto_raw'].str.match(r'(?i)^ID\d+$', na=False)

df.loc[mask_prod_prefijo, ['id_producto_raw', 'nombre_producto']].head(10)

mask_tienda_prefijo = df['id_tienda_raw'].str.match(r'(?i)^ID\d+$', na=False)

df.loc[mask_tienda_prefijo, ['id_tienda_raw', 'nombre_tienda']].head(10)

     id_tienda_raw   nombre_tienda
122            ID3  Bodega Aurrera
239            ID9       Tienda 3B
636            ID3  Bodega Aurrera
696            ID7        La Comer
975            ID7        La Comer
1024           ID1         Walmart
1494           ID3  Bodega Aurrera
1670           ID7        La Comer
1921          ID10            Oxxo
2003           ID5        Chedraui

In [66]:
df.loc[mask_prod_prefijo, 'id_producto_norm'] = (
    df.loc[mask_prod_prefijo, 'id_producto_raw']
      .str.upper()
      .str.replace('ID', '', regex=False)
)

df.loc[mask_tienda_prefijo, 'id_tienda_norm'] = (
    df.loc[mask_tienda_prefijo, 'id_tienda_raw']
      .str.upper()
      .str.replace('ID', '', regex=False)
)

In [68]:
tabla_tiendas = (
    df[['id_tienda_norm', 'nombre_tienda_final']]
    .drop_duplicates()
    .sort_values(
        by='id_tienda_norm',
        key=lambda x: x.astype(int)  # orden numérico real
    )
    .rename(columns={
        'id_tienda_norm': 'id_tienda',
        'nombre_tienda_final': 'tienda'
    })
)
tabla_productos = (
    df[['id_producto_norm', 'nombre_producto_final']]
    .drop_duplicates()
    .sort_values(
        by='id_producto_norm',
        key=lambda x: x.astype(int)  # orden numérico real
    )
    .rename(columns={
        'id_producto_norm': 'id_producto',
        'nombre_producto_final': 'producto'
    })
)

tabla_tiendas.to_csv("dim_tiendas.csv", index=False)
tabla_productos.to_csv("dim_productos.csv", index=False)

print(tabla_tiendas.head())
print(tabla_tiendas.tail())
print(tabla_productos.head())
print(tabla_productos.tail())

   id_tienda          tienda
4          1         Walmart
2          2      Sam's Club
21         3  Bodega Aurrera
7          4         Soriana
1          5        Chedraui
   id_tienda       tienda
0          6  City Market
3          7     La Comer
5          8       Costco
16         9    Tienda 3B
8         10         Oxxo
    id_producto               producto
102           1        Coca-Cola 600ml
66            2            Pepsi 600ml
109           3       Agua Bonafont 1L
227           4  Galletas María Gamesa
116           5       Pan Bimbo Blanco
    id_producto                   producto
96           96  Queso Manchego NocheBuena
46           97         Crema Philadelphia
79           98         Pan de Caja Wonder
117          99     Papel Higiénico Pétalo
42          100       Detergente Ariel 1kg

Esto nos dice que ya todos los ID estan normalizados, asi que volvemos a aplicar un analisis para ver si ya no quedan problemas

In [69]:
def contar_errores(col):
    return {
        "Nulos": col.isna().sum(),
        "Espacios": col.astype(str).str.match(r'^\s+|\s+$', na=False).sum(),
        "No numéricos": (~col.astype(str).str.fullmatch(r'\d+', na=False)).sum(),
        "Ceros a la izquierda": col.astype(str).str.match(r'^0+\d+', na=False).sum(),
        "Formato inconsistente": col.astype(str).str.match(r'(?i)^ID\d+', na=False).sum(),
    }

errores_antes = pd.DataFrame({
    "Producto": contar_errores(df['id_producto_raw']),
    "Tienda": contar_errores(df['id_tienda_raw'])
})
errores_antes

                       Producto  Tienda
Nulos                         0       0
Espacios                   4726    4727
No numéricos               9665    9599
Ceros a la izquierda       4877    4671
Formato inconsistente      4939    4872

In [71]:
errores_despues = pd.DataFrame({
    "Producto": contar_errores(df['id_producto_norm']),
    "Tienda": contar_errores(df['id_tienda_norm'])
})
print (errores_despues)

                       Producto  Tienda
Nulos                         0       0
Espacios                      0       0
No numéricos                  0       0
Ceros a la izquierda          0       0
Formato inconsistente         0       0