## Ahora veremos infromacion generla de los catalogos creados

In [32]:
from faker import Faker
import random
import csv
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv('../../../Catalogos/catalogo_productos.csv')
df

    id_producto               producto
0            92     Sardinas La Sirena
1             4  Galletas María Gamesa
2            20    Gatorade Azul 500ml
3            24      Pan Tostado Bimbo
4             7   Café Soluble Nescafé
..          ...                    ...
95           80     Jugo Boing Guayaba
96           95         Helado Holanda
97           70     Pan Integral Bimbo
98           88  Refresco Fresca 600ml
99           19   Refresco Fanta 600ml

[100 rows x 2 columns]

Podemos comentar que aqui seria la tabla que nos ayuda a identificar mediante un id al nombre del porducto vendido

In [34]:
df2 = pd.read_csv('../../../Catalogos/catalogo_tiendas.csv')
df2

   id_tienda          tienda
0          6     City Market
1         10            Oxxo
2          3  Bodega Aurrera
3          9       Tienda 3B
4          2      Sam's Club
5          7        La Comer
6          8          Costco
7          1         Walmart
8          4         Soriana
9          5        Chedraui

Podemos comentar que aqui seria la tabla que nos ayuda a identificar las tiendas mediante el id estas estaran en cada estado y en ellas se identificarn los productos mediante el id del producto

In [25]:
df2.isnull().sum

<bound method DataFrame.sum of    id_tienda  tienda
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
5      False   False
6      False   False
7      False   False
8      False   False
9      False   False>

vemos que como son catalogos estos no pueden ser nulos

In [27]:
df.isnull().sum

<bound method DataFrame.sum of     id_producto  producto
0         False     False
1         False     False
2         False     False
3         False     False
4         False     False
..          ...       ...
95        False     False
96        False     False
97        False     False
98        False     False
99        False     False

[100 rows x 2 columns]>

## Lo siguiente que se obtuvo es el catalogo de precios por producto

In [36]:
df2 = pd.read_csv("../../../Datas/4. ciudades_normalizados.csv")

In [38]:

reporte_global = df2.groupby(['nombre_producto', 'ciudad_normalizada', 'nombre_tienda'])['precio_normalizado'].agg(['mean', 'min', 'max'])

# Renombramos las columnas para que el CSV sea fácil de entender para otros
reporte_global.columns = ['precio_promedio', 'precio_minimo', 'precio_maximo']

# Ordenamos alfabéticamente por producto y ciudad
reporte_global = reporte_global.sort_index()

# Mostramos una vista previa de los primeros 10 registros
reporte_global.head(10)

                                                   precio_promedio  \
nombre_producto ciudad_normalizada nombre_tienda
Aceite Capullo  CANCUN             Bodega Aurrera        47.374098
                                   Chedraui              47.032547
                                   City Market           46.790050
                                   Costco                47.281010
                                   La Comer              47.263541
                                   Oxxo                  46.776276
                                   Sam's Club            47.153832
                                   Soriana               46.943147
                                   Tienda 3B             46.929313
                                   Walmart               46.950488

                                                   precio_minimo  \
nombre_producto ciudad_normalizada nombre_tienda
Aceite Capullo  CANCUN             Bodega Aurrera          42.08
                                   Chedraui                42.01
                                   City Market             42.10
                                   Costco                  42.04
                                   La Comer                42.09
                                   Oxxo                    42.03
                                   Sam's Club              42.01
                                   Soriana                 42.03
                                   Tienda 3B               42.07
                                   Walmart                 42.12

                                                   precio_maximo
nombre_producto ciudad_normalizada nombre_tienda
Aceite Capullo  CANCUN             Bodega Aurrera          51.85
                                   Chedraui                51.99
                                   City Market             51.98
                                   Costco                  51.89
                                   La Comer                51.98
                                   Oxxo                    51.95
                                   Sam's Club              51.98
                                   Soriana                 51.97
                                   Tienda 3B               51.94
                                   Walmart                 51.94

En este catalogo se obtiene el nombre del producto, la ciudad y el nombre de la tienda ys e le aplican fucniones para obtener el precio por ciudad y por cada tienda de esa ciudad asi como el minimo y el maximo

## Lo siguiente es el obetener los meses gracias a la fecha

In [41]:
df2['fecha'] = pd.to_datetime(df2['fecha'])


df2['mes'] = df2['fecha'].dt.month

In [42]:
df2

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA,9
...,...,...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,7,La Comer,Premium,GDL,2025-09-30,25.64,GUADALAJARA,9
1029996,1029997,100,Detergente Ariel 1kg,3,Bodega Aurrera,Descuento,GDL,2025-10-28,179.65,GUADALAJARA,10
1029997,1029998,42,Yoghurt Griego Yoplait,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30,32.12,GUADALAJARA,3
1029998,1029999,26,Crema Alpura,6,City Market,Premium,GDL,2025-10-30,39.91,GUADALAJARA,10
1029999,1030000,2,Pepsi 600ml,7,La Comer,Premium,puebla,2025-12-10,16.68,PUEBLA,12

## Ya que tenemos eso,se calculo el costo promedio de cada producto sin importar su mes, es decir cuanto cuesta en promedio al año

In [45]:
# Calculamos el promedio anual de cada producto
promedio_anual_prod = df2.groupby('nombre_producto')['precio_normalizado'].mean().rename('promedio_general_producto')

# Unimos este promedio al DataFrame original para tenerlo como referencia en cada fila
df2 = df2.merge(promedio_anual_prod, on='nombre_producto')
df2

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada,mes,promedio_general_producto_x,promedio_general_producto_y,promedio_general_producto
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN,10,23.012502,23.012502,23.012502
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA,12,11.012933,11.012933,11.012933
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA,11,51.520036,51.520036,51.520036
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN,10,97.319949,97.319949,97.319949
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA,9,31.490505,31.490505,31.490505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,7,La Comer,Premium,GDL,2025-09-30,25.64,GUADALAJARA,9,23.007696,23.007696,23.007696
1029996,1029997,100,Detergente Ariel 1kg,3,Bodega Aurrera,Descuento,GDL,2025-10-28,179.65,GUADALAJARA,10,162.494706,162.494706,162.494706
1029997,1029998,42,Yoghurt Griego Yoplait,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30,32.12,GUADALAJARA,3,31.490505,31.490505,31.490505
1029998,1029999,26,Crema Alpura,6,City Market,Premium,GDL,2025-10-30,39.91,GUADALAJARA,10,39.990897,39.990897,39.990897
1029999,1030000,2,Pepsi 600ml,7,La Comer,Premium,puebla,2025-12-10,16.68,PUEBLA,12,15.494414,15.494414,15.494414

Ya con esto solo juntamos y renombramos las columnas y obtenemos el catalogo del reporte mensual de precios

In [48]:
df3 = pd.read_csv('../../../Catalogos/Reporte_Mensual_Precios_2025.csv')
df3

,nombre_producto,promedio_general_producto,ciudad_normalizada,nombre_tienda,mes,promedio_mensual_tienda
0,Aceite Capullo,46.958187,CANCUN,Bodega Aurrera,1,46.870526
1,Aceite Capullo,46.958187,CANCUN,Chedraui,1,46.936111
2,Aceite Capullo,46.958187,CANCUN,City Market,1,47.014545
3,Aceite Capullo,46.958187,CANCUN,Costco,1,47.264211
4,Aceite Capullo,46.958187,CANCUN,La Comer,1,46.330000
...,...,...,...,...,...,...
60276,Yogurt Danone,17.493632,PUEBLA,Oxxo,12,17.393333
60277,Yogurt Danone,17.493632,PUEBLA,Sam's Club,12,17.520952
60278,Yogurt Danone,17.493632,PUEBLA,Soriana,12,17.091667
60279,Yogurt Danone,17.493632,PUEBLA,Tienda 3B,12,17.785909
60280,Yogurt Danone,17.493632,PUEBLA,Walmart,12,17.592857