## Hasta ahorita tenemos ya los datos de las fechas, precios individuales y por mes, pero las ciudades siguen teniendo errores y varios nulos

In [1]:
from faker import Faker
import random
import csv
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('../../../Datas/4. ciudades_normalizados.csv')
df

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA
...,...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,7,La Comer,Premium,GDL,2025-09-30,25.64,GUADALAJARA
1029996,1029997,100,Detergente Ariel 1kg,3,Bodega Aurrera,Descuento,GDL,2025-10-28,179.65,GUADALAJARA
1029997,1029998,42,Yoghurt Griego Yoplait,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30,32.12,GUADALAJARA
1029998,1029999,26,Crema Alpura,6,City Market,Premium,GDL,2025-10-30,39.91,GUADALAJARA
1029999,1030000,2,Pepsi 600ml,7,La Comer,Premium,puebla,2025-12-10,16.68,PUEBLA

In [23]:
# Sumamos todos los valores verdaderos (True) de la función isna()
nulos_por_columna = df.isnull().sum()

# Lo mostramos como un porcentaje para entender la gravedad
porcentaje_nulos = (df.isnull().sum() / len(df)) * 100

# Combinamos ambos en una tablita
tabla_nulos = pd.DataFrame({'Total Nulos': nulos_por_columna, 'Porcentaje (%)': porcentaje_nulos})
print(tabla_nulos)

                    Total Nulos  Porcentaje (%)
id_transaccion                0        0.000000
id_producto                   0        0.000000
nombre_producto               0        0.000000
id_tienda                     0        0.000000
nombre_tienda                 0        0.000000
categoria_tienda              0        0.000000
ciudad                    16754        1.626602
fecha                         0        0.000000
precio_normalizado        16539        1.605728
ciudad_normalizada        16754        1.626602

## Relleno Inteligente por Mes
Utilizaremos la función transform de Pandas. Esta función calcula el promedio del grupo (Producto/Mes) y lo "reparte" de vuelta a las filas originales, llenando solo donde falta el dato.

In [27]:
df['fecha'] = pd.to_datetime(df['fecha'])


df['mes'] = df['fecha'].dt.month

In [28]:

df['precio_normalizado'] = df['precio_normalizado'].fillna(
    df.groupby(['nombre_producto', 'mes'])['precio_normalizado'].transform('mean')
)

print(f"Nulos después de la imputación estacional: {df['precio_normalizado'].isnull().sum()}")

Nulos después de la imputación estacional: 0

## Con esto obetenemos el catalogo final

In [35]:
dfinal = pd.read_csv('../../../Catalogos/Reporte_Final_2025.csv')

In [30]:
dfinal

,nombre_producto,ciudad_normalizada,nombre_tienda,mes,mean,min,max
0,Aceite Capullo,CANCUN,Bodega Aurrera,1,46.870526,42.29,51.80
1,Aceite Capullo,CANCUN,Bodega Aurrera,2,47.094000,43.30,51.84
2,Aceite Capullo,CANCUN,Bodega Aurrera,3,47.071962,44.19,51.21
3,Aceite Capullo,CANCUN,Bodega Aurrera,4,47.427410,43.97,50.69
4,Aceite Capullo,CANCUN,Bodega Aurrera,5,47.756842,42.42,51.85
...,...,...,...,...,...,...,...
60276,Yogurt Danone,PUEBLA,Walmart,10,17.979231,15.04,20.00
60277,Yogurt Danone,PUEBLA,Walmart,11,17.690000,15.31,19.44
60278,Yogurt Danone,PUEBLA,Walmart,12,17.592857,15.13,19.96
60279,Yogurt Danone,QUINTANA ROO,Chedraui,6,16.250000,16.25,16.25
60280,Yogurt Danone,QUINTANA ROO,City Market,9,19.420000,19.42,19.42

Con esto se obtiene el dataset final limpio, se aplciaron las mismas fucniones en orden jerarquico, es decir cambiando el orden de las columnas para obtener la informacion

In [37]:
dfinall = pd.read_csv('../../../Datas/5. ciudades_normalizados_rellenado.csv')

In [38]:
dfinall

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA,9
...,...,...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,7,La Comer,Premium,GDL,2025-09-30,25.64,GUADALAJARA,9
1029996,1029997,100,Detergente Ariel 1kg,3,Bodega Aurrera,Descuento,GDL,2025-10-28,179.65,GUADALAJARA,10
1029997,1029998,42,Yoghurt Griego Yoplait,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30,32.12,GUADALAJARA,3
1029998,1029999,26,Crema Alpura,6,City Market,Premium,GDL,2025-10-30,39.91,GUADALAJARA,10
1029999,1030000,2,Pepsi 600ml,7,La Comer,Premium,puebla,2025-12-10,16.68,PUEBLA,12

La normalizacion de las ciudades se garatiza por medio del mapeo y de el replace de los nombres erroneos, peor en situacioens donde esto falla se eliminan las filas con la ciudad nula como es el caso

In [39]:
df = df.dropna(subset=["ciudad_normalizada"])