### Instalación de librerias

### Importación de librerias

In [1]:
#Cargar el datasetimport Pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

### Carga del csv

In [2]:
with open ("../Datas/0. ventas_retail_1M.csv", encoding = "utf-8") as file:
    df = pd.read_csv(file)

In [3]:
def normalizar_id(col: pd.Series) -> pd.Series:
    return (
        col.astype(str)
           .str.upper()
           .str.strip()
           .str.extract(r"(\d+)", expand=False)
           .astype("Int64")
    )

# Aplicación IN-PLACE
df["id_tienda"]   = normalizar_id(df["id_tienda"])
df["id_producto"] = normalizar_id(df["id_producto"])

In [4]:
catalogo_tienda = (
    df.groupby(["id_tienda", "nombre_tienda"])
      .size()
      .reset_index(name="frecuencia")
      .sort_values("frecuencia", ascending=False)
      .drop_duplicates("id_tienda")
      .set_index("id_tienda")["nombre_tienda"]
)

catalogo_producto = (
    df.groupby(["id_producto", "nombre_producto"])
      .size()
      .reset_index(name="frecuencia")
      .sort_values("frecuencia", ascending=False)
      .drop_duplicates("id_producto")
      .set_index("id_producto")["nombre_producto"]
)

In [5]:
catalogo_tienda_df = catalogo_tienda.rename("nombre_tienda").reset_index()
catalogo_producto_df = catalogo_producto.rename("nombre_producto").reset_index()

In [6]:
catalogo_tienda_df.head()
catalogo_producto_df.head()

   id_producto        nombre_producto
0           92     Sardinas La Sirena
1            4  Galletas María Gamesa
2           20    Gatorade Azul 500ml
3           24      Pan Tostado Bimbo
4            7   Café Soluble Nescafé

In [7]:
df.to_csv(
    "../Datas/1. Data_ID_normalizado.csv",
    index=False,
    encoding="utf-8"
)

catalogo_producto_export = (
    catalogo_producto
        .rename("producto")
        .reset_index()
)

catalogo_producto_export.to_csv(
    "../Catalogos/catalogo_productos.csv",
    index=False,
    encoding="utf-8"
)

catalogo_tienda_export = (
    catalogo_tienda
        .rename("tienda")
        .reset_index()
)

catalogo_tienda_export.to_csv(
    "../Catalogos/catalogo_tiendas.csv",
    index=False,
    encoding="utf-8"
)