# Importar las librerias basicas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.ensemble import IsolationForest

# Abrir el archivo csv

In [22]:
df = pd.read_csv("../Datas/5. ciudades_normalizados_rellenado.csv", encoding="utf-8")
df.head()

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA,9

In [3]:
df

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,ciudad,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,CANCUN,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,PUEBLA,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,PUEBLA,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,CANCUN,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,GDL,2025-09-03,28.32,GUADALAJARA,9
...,...,...,...,...,...,...,...,...,...,...,...
1029995,1029996,90,Tortillas Tía Rosa,7,La Comer,Premium,GDL,2025-09-30,25.64,GUADALAJARA,9
1029996,1029997,100,Detergente Ariel 1kg,3,Bodega Aurrera,Descuento,GDL,2025-10-28,179.65,GUADALAJARA,10
1029997,1029998,42,Yoghurt Griego Yoplait,9,Tienda 3B,Descuento,GUADALAJARA,2025-03-30,32.12,GUADALAJARA,3
1029998,1029999,26,Crema Alpura,6,City Market,Premium,GDL,2025-10-30,39.91,GUADALAJARA,10
1029999,1030000,2,Pepsi 600ml,7,La Comer,Premium,puebla,2025-12-10,16.68,PUEBLA,12

# Visualizacion de informacion

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030000 entries, 0 to 1029999
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id_transaccion      1030000 non-null  int64
 1   id_producto         1030000 non-null  int64
 2   nombre_producto     1030000 non-null  object
 3   id_tienda           1030000 non-null  int64
 4   nombre_tienda       1030000 non-null  object
 5   categoria_tienda    1030000 non-null  object
 6   ciudad              1013246 non-null  object
 7   fecha               1030000 non-null  object
 8   precio_normalizado  1030000 non-null  float64
 9   ciudad_normalizada  1013246 non-null  object
 10  mes                 1030000 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 86.4+ MB

In [11]:

df.isnull().sum()

id_transaccion            0
id_producto               0
nombre_producto           0
id_tienda                 0
nombre_tienda             0
categoria_tienda          0
ciudad                16754
fecha                     0
precio_normalizado        0
ciudad_normalizada    16754
mes                       0
dtype: int64

# Este lo use para lograr ver los valores unicos y asi idenfitificar los errores

In [14]:
df["ciudad_normalizada"].unique()

array(['CANCUN', 'PUEBLA', 'GUADALAJARA', 'CDMX', 'MONTERREY', nan,
       'QUINTANA ROO'], dtype=object)

In [ ]:
df["ciudad_normalizada"].value_counts(dropna=False)

## El error mas facil de remover era el de cambiar Quintana Roo por Cancun

In [37]:
df["ciudad_normalizada"] = df["ciudad_normalizada"].replace({
    "QUINTANA ROO": "CANCUN"
})

In [38]:
df["ciudad_normalizada"].value_counts(dropna=False)

ciudad_normalizada
CDMX           203549
PUEBLA         202511
MONTERREY      202479
GUADALAJARA    202380
CANCUN         202327
Name: count, dtype: int64

In [39]:
df = df.dropna(subset=["ciudad_normalizada"])

In [40]:
df = df.drop(columns=["ciudad"])

KeyError: "['ciudad'] not found in axis"

In [32]:
for col in df.columns:
    print(f"\nColumna: {col}")
    print(df[col].unique())

Columna: id_transaccion
[      1       2       3 ... 1029998 1029999 1030000]

Columna: id_producto
[ 63  32  77  45  42  72  85  53  78  36  23  76  37  10  18  94  19  59
  75  35  29  58  60  82   7  87  51  50  17  91  22  49  65  39 100  95
  56  97  70  44  21  25  34  33  16   2  57  31  40  52   8  55  90  98
  38  61  43  30  41  11  62  96  81  68   1  27  88  13  47   3  24   5
  99  86  12  28   6  67  69  74  71  80  26  89  83  48  54  93  84  15
  64   4   9  46  20  66  92  14  73  79]

Columna: nombre_producto
['Salsa Bufalo' 'Agua Epura 1L' 'Cereal Choco Krispis'
 "Mix de Nueces Member's Mark" 'Yoghurt Griego Yoplait' 'Suero Electrolit'
 'Cerveza Heineken' 'Cacahuates Hot Nuts' 'Cereal Froot Loops'
 'Aceite Capullo' 'Chocolate Abuelita Tabletas' 'Cereal Cheerios'
 'Mayonesa McCormick' 'Aceite Nutrioli 1L' 'Jugo del Valle Mango'
 'Frijoles Bayos La Sierra' 'Refresco Fanta 600ml' 'Ron Bacardí Blanco'
 'Churrumais' 'Café de Olla La Finca' 'Sal La Fina' 'Cerveza Victoria'
 'Tequila José Cuervo Tradicional' 'Choco Milk' 'Café Soluble Nescafé'
 'Agua Ciel 1L' 'Té Limón Lipton' 'Pan Molido Bimbo' 'Queso Oaxaca Lala'
 'Atún Dolores' 'Doritos Nacho' 'Powerade Moras 500ml'
 'Leche Deslactosada Lala' "Mostaza French's" 'Detergente Ariel 1kg'
 'Helado Holanda' 'Cerveza Corona 355ml' 'Crema Philadelphia'
 'Pan Integral Bimbo' 'Cacahuates Kacang' 'Sabritas Clásicas'
 'Jamón de Pavo FUD' 'Monster Energy' 'Red Bull'
 'Tortillas de Maíz Maseca' 'Pepsi 600ml' 'Cerveza Modelo Especial'
 'Sopa Maruchan Pollo' 'Queso Panela Lala' 'Avena Quaker'
 'Arroz Verde Valle' 'Vino Tinto Casillero del Diablo'
 'Tortillas Tía Rosa' 'Pan de Caja Wonder' 'Ketchup Heinz'
 'Mezcal 400 Conejos' 'Galletas Oreo' 'Pasta La Moderna' 'Chobani Yogurt'
 'Atún Herdez en Agua' 'Salsa Valentina' 'Queso Manchego NocheBuena'
 'Refresco Manzanita Sol' 'Pingüinos Marinela' 'Coca-Cola 600ml'
 'Mantequilla Gloria' 'Refresco Fresca 600ml' 'Cereal Zucaritas'
 'Chocolate Milky Way' 'Agua Bonafont 1L' 'Pan Tostado Bimbo'
 'Pan Bimbo Blanco' 'Papel Higiénico Pétalo' 'Cerveza Stella Artois'
 'Yogurt Danone' 'Azúcar Zulka 1kg' 'Leche Lala Entera 1L'
 'Gansito Marinela' 'Chocolate Carlos V' 'Papas Ruffles Queso'
 'Barra de Granola Nature Valley' 'Jugo Boing Guayaba' 'Crema Alpura'
 'Mole Doña María' 'Nescafé Cappuccino' 'Refresco Sprite 600ml'
 'Agua Mineral Topo Chico' "Sopa Campbell's" 'Té Chai Twinings'
 'Huevo San Juan 18p' 'Café Garat' 'Galletas María Gamesa'
 'Frijoles Isadora' 'Chocolate Snickers' 'Gatorade Azul 500ml'
 'Yogurt Activia' 'Sardinas La Sirena' 'Jugo Jumex Durazno'
 'Suero Pedialyte' 'Jugo Boing Mango']

Columna: id_tienda
[ 6  5  2  7  1  8  4 10  9  3]

Columna: nombre_tienda
['City Market' 'Chedraui' "Sam's Club" 'La Comer' 'Walmart' 'Costco'
 'Soriana' 'Oxxo' 'Tienda 3B' 'Bodega Aurrera']

Columna: categoria_tienda
['Premium' 'Autoservicio' 'Mayoreo' 'Conveniencia' 'Descuento']

Columna: fecha
['2025-10-27' '2025-12-27' '2025-11-09' '2025-09-03' '2025-10-10'
 '2025-02-03' '2025-01-31' '2025-01-27' '2025-03-27' '2025-02-09'
 '2025-03-19' '2025-08-24' '2025-07-20' '2025-08-30' '2025-07-29'
 '2025-11-10' '2025-07-07' '2025-09-24' '2025-01-16' '2025-10-02'
 '2025-06-18' '2025-03-15' '2025-11-19' '2025-09-02' '2025-02-07'
 '2025-12-17' '2025-11-17' '2025-08-02' '2025-04-11' '2025-12-30'
 '2025-12-29' '2025-06-13' '2025-12-19' '2025-05-27' '2025-09-10'
 '2025-09-17' '2025-06-30' '2025-04-08' '2025-09-29' '2025-07-08'
 '2025-09-28' '2025-02-25' '2025-01-13' '2025-10-09' '2025-08-09'
 '2025-12-08' '2025-07-30' '2025-08-31' '2025-11-24' '2025-10-16'
 '2025-11-22' '2025-03-06' '2025-01-25' '2025-02-12' '2025-02-28'
 '2025-01-28' '2025-09-12' '2025-09-11' '2025-04-30' '2025-10-19'
 '2025-05-11' '2025-01-08' '2025-02-06' '2025-07-12' '2025-12-04'
 '2025-05-25' '2025-08-08' '2025-08-26' '2025-07-27' '2025-01-23'
 '2025-03-09' '2025-03-11' '2025-06-25' '2025-05-05' '2025-10-08'
 '2025-09-07' '2025-08-16' '2025-11-21' '2025-03-12' '2025-11-03'
 '2025-06-21' '2025-04-29' '2025-09-14' '2025-07-31' '2025-05-07'
 '2025-12-24' '2025-01-20' '2025-08-12' '2025-05-30' '2025-06-04'
 '2025-08-06' '2025-09-04' '2025-03-14' '2025-03-03' '2025-09-22'
 '2025-09-26' '2025-04-27' '2025-05-19' '2025-07-21' '2025-09-05'
 '2025-11-28' '2025-03-05' '2025-07-23' '2025-03-17' '2025-02-15'
 '2025-09-13' '2025-02-13' '2025-12-05' '2025-03-20' '2025-05-13'
 '2025-05-06' '2025-06-22' '2025-07-03' '2025-07-11' '2025-10-31'
 '2025-06-14' '2025-12-13' '2025-05-03' '2025-05-04' '2025-02-27'
 '2025-07-04' '2025-10-17' '2025-05-28' '2025-02-05' '2025-01-12'
 '2025-06-23' '2025-04-28' '2025-07-16' '2025-03-10' '2025-12-31'
 '2025-10-29' '2025-02-20' '2025-06-02' '2025-05-29' '2025-04-03'
 '2025-03-28' '2025-11-07' '2025-11-13' '2025-01-26' '2025-07-05'
 '2025-05-01' '2025-07-24' '2025-08-03' '2025-03-30' '2025-10-24'
 '2025-10-25' '2025-06-12' '2025-08-13' '2025-04-24' '2025-08-19'
 '2025-10-06' '2025-06-01' '2025-05-26' '2025-04-14' '2025-05-10'
 '2025-05-23' '2025-06-27' '2025-05-18' '2025-05-20' '2025-10-13'
 '2025-04-26' '2025-04-20' '2025-11-27' '2025-10-20' '2025-08-07'
 '2025-02-18' '2025-04-21' '2025-03-23' '2025-05-09' '2025-08-11'
 '2025-10-18' '2025-08-17' '2025-12-25' '2025-12-07' '2025-12-10'
 '2025-06-17' '2025-06-26' '2025-08-29' '2025-01-02' '2025-03-26'
 '2025-03-08' '2025-01-05' '2025-08-25' '2025-08-15' '2025-09-08'
 '2025-06-11' '2025-05-15' '2025-12-20' '2025-02-24' '2025-02-08'
 '2025-07-15' '2025-09-25' '2025-03-02' '2025-10-07' '2025-11-16'
 '2025-09-23' '2025-09-27' '2025-04-25' '2025-10-30' '2025-11-12'
 '2025-10-15' '2025-11-26' '2025-06-24' '2025-05-14' '2025-02-26'
 '2025-12-06' '2025-09-19' '2025-10-11' '2025-10-03' '2025-03-13'
 '2025-03-24' '2025-08-28' '2025-02-04' '2025-04-18' '2025-01-04'
 '2025-03-16' '2025-07-14' '2025-12-22' '2025-01-30' '2025-08-01'
 '2025-10-22' '2025-10-28' '2025-03-29' '2025-06-10' '2025-03-07'
 '2025-10-21' '2025-09-01' '2025-04-23' '2025-01-03' '2025-08-20'
 '2025-11-20' '2025-03-04' '2025-11-05' '2025-05-12' '2025-11-08'
 '2025-01-01' '2025-11-01' '2025-12-14' '2025-06-20' '2025-08-27'
 '2025-06-28' '2025-04-09' '2025-01-18' '2025-07-02' '2025-09-18'
 '2025-11-14' '2025-12-23' '2025-06-09' '2025-07-09' '2025-09-30'
 '2025-08-04' '2025-11-06' '2025-06-07' '2025-05-02' '2025-03-25'
 '2025-02-14' '2025-06-08' '2025-08-22' '2025-09-20' '2025-04-19'
 '2025-11-04' '2025-06-15' '2025-12-09' '2025-11-18' '2025-01-14'
 '2025-12-28' '2025-08-21' '2025-01-06' '2025-12-26' '2025-01-19'
 '2025-11-15' '2025-11-11' '2025-02-11' '2025-04-05' '2025-05-31'
 '2025-07-18' '2025-09-21' '2025-12-11' '2025-03-21' '2025-08-18'
 '2025-05-08' '2025-09-06' '2025-03-01' '2025-12-21' '2025-04-13'
 '2025-04-16' '2025-02-01' '2025-07-17' '2025-03-31' '2025-07-28'
 '2025-04-01' '2025-07-13' '2025-10-14' '2025-09-15' '2025-04-12'
 '2025-01-09' '2025-02-19' '2025-02-16' '2025-11-29' '2025-05-17'
 '2025-12-01' '2025-04-07' '2025-01-07' '2025-11-30' '2025-01-21'
 '2025-12-16' '2025-01-11' '2025-12-12' '2025-10-23' '2025-08-10'
 '2025-06-29' '2025-11-25' '2025-10-01' '2025-05-22' '2025-07-10'
 '2025-04-10' '2025-01-29' '2025-12-15' '2025-07-01' '2025-11-23'
 '2025-09-09' '2025-07-26' '2025-11-02' '2025-03-22' '2025-06-05'
 '2025-06-03' '2025-04-04' '2025-12-18' '2025-08-23' '2025-07-22'
 '2025-10-04' '2025-06-16' '2025-09-16' '2025-07-06' '2025-01-22'
 '2025-06-06' '2025-05-24' '2025-04-15' '2025-12-02' '2025-05-16'
 '2025-02-10' '2025-02-02' '2025-01-24' '2025-07-25' '2025-04-22'
 '2025-12-03' '2025-08-05' '2025-04-06' '2025-10-05' '2025-07-19'
 '2025-04-17' '2025-04-02' '2025-02-21' '2025-02-17' '2025-10-12'
 '2025-10-26' '2025-06-19' '2025-02-23' '2025-05-21' '2025-01-15'
 '2025-03-18' '2025-02-22' '2025-01-10' '2025-01-17' '2025-08-14']

Columna: precio_normalizado
[23.1   9.49 53.36 ...  7.65  6.76  6.21]

Columna: ciudad_normalizada
['CANCUN' 'PUEBLA' 'GUADALAJARA' 'CDMX' 'MONTERREY']

Columna: mes
[10 12 11  9  2  1  3  8  7  6  4  5]