In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import parser

In [2]:
df = pd.read_csv("../Datas/6. Data sin nulos.csv", encoding="utf-8")
df.head()

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,2025-09-03,28.32,GUADALAJARA,9

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013246 entries, 0 to 1013245
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id_transaccion      1013246 non-null  int64
 1   id_producto         1013246 non-null  int64
 2   nombre_producto     1013246 non-null  object
 3   id_tienda           1013246 non-null  int64
 4   nombre_tienda       1013246 non-null  object
 5   categoria_tienda    1013246 non-null  object
 6   fecha               1013246 non-null  object
 7   precio_normalizado  1013246 non-null  float64
 8   ciudad_normalizada  1013246 non-null  object
 9   mes                 1013246 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 77.3+ MB

In [4]:
df["ciudad_normalizada"].unique()

array(['CANCUN', 'PUEBLA', 'GUADALAJARA', 'CDMX', 'MONTERREY'],
      dtype=object)

In [5]:
df["nombre_tienda"].unique()

array(['City Market', 'Chedraui', "Sam's Club", 'La Comer', 'Walmart',
       'Costco', 'Soriana', 'Oxxo', 'Tienda 3B', 'Bodega Aurrera'],
      dtype=object)

In [6]:
df["categoria_tienda"].unique()

array(['Premium', 'Autoservicio', 'Mayoreo', 'Conveniencia', 'Descuento'],
      dtype=object)

In [7]:
print( df["nombre_producto"].nunique())
df["id_producto"].nunique()

100

100

In [8]:
df["nombre_producto"].unique()

array(['Salsa Bufalo', 'Agua Epura 1L', 'Cereal Choco Krispis',
       "Mix de Nueces Member's Mark", 'Yoghurt Griego Yoplait',
       'Suero Electrolit', 'Cerveza Heineken', 'Cacahuates Hot Nuts',
       'Cereal Froot Loops', 'Aceite Capullo',
       'Chocolate Abuelita Tabletas', 'Cereal Cheerios',
       'Mayonesa McCormick', 'Aceite Nutrioli 1L', 'Jugo del Valle Mango',
       'Frijoles Bayos La Sierra', 'Refresco Fanta 600ml',
       'Ron Bacardí Blanco', 'Churrumais', 'Café de Olla La Finca',
       'Sal La Fina', 'Cerveza Victoria',
       'Tequila José Cuervo Tradicional', 'Choco Milk',
       'Café Soluble Nescafé', 'Agua Ciel 1L', 'Té Limón Lipton',
       'Pan Molido Bimbo', 'Queso Oaxaca Lala', 'Atún Dolores',
       'Doritos Nacho', 'Powerade Moras 500ml', 'Leche Deslactosada Lala',
       "Mostaza French's", 'Detergente Ariel 1kg', 'Helado Holanda',
       'Cerveza Corona 355ml', 'Crema Philadelphia', 'Pan Integral Bimbo',
       'Cacahuates Kacang', 'Sabritas Clásicas', 'Jamón de Pavo FUD',
       'Monster Energy', 'Red Bull', 'Tortillas de Maíz Maseca',
       'Pepsi 600ml', 'Cerveza Modelo Especial', 'Sopa Maruchan Pollo',
       'Queso Panela Lala', 'Avena Quaker', 'Arroz Verde Valle',
       'Vino Tinto Casillero del Diablo', 'Tortillas Tía Rosa',
       'Pan de Caja Wonder', 'Ketchup Heinz', 'Mezcal 400 Conejos',
       'Galletas Oreo', 'Pasta La Moderna', 'Chobani Yogurt',
       'Atún Herdez en Agua', 'Salsa Valentina',
       'Queso Manchego NocheBuena', 'Refresco Manzanita Sol',
       'Pingüinos Marinela', 'Coca-Cola 600ml', 'Mantequilla Gloria',
       'Refresco Fresca 600ml', 'Cereal Zucaritas', 'Chocolate Milky Way',
       'Agua Bonafont 1L', 'Pan Tostado Bimbo', 'Pan Bimbo Blanco',
       'Papel Higiénico Pétalo', 'Cerveza Stella Artois', 'Yogurt Danone',
       'Azúcar Zulka 1kg', 'Leche Lala Entera 1L', 'Gansito Marinela',
       'Chocolate Carlos V', 'Papas Ruffles Queso',
       'Barra de Granola Nature Valley', 'Jugo Boing Guayaba',
       'Crema Alpura', 'Mole Doña María', 'Nescafé Cappuccino',
       'Refresco Sprite 600ml', 'Agua Mineral Topo Chico',
       "Sopa Campbell's", 'Té Chai Twinings', 'Huevo San Juan 18p',
       'Café Garat', 'Galletas María Gamesa', 'Frijoles Isadora',
       'Chocolate Snickers', 'Gatorade Azul 500ml', 'Yogurt Activia',
       'Sardinas La Sirena', 'Jugo Jumex Durazno', 'Suero Pedialyte',
       'Jugo Boing Mango'], dtype=object)

In [9]:
df_limpio = df.drop_duplicates(keep='first')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013246 entries, 0 to 1013245
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id_transaccion      1013246 non-null  int64
 1   id_producto         1013246 non-null  int64
 2   nombre_producto     1013246 non-null  object
 3   id_tienda           1013246 non-null  int64
 4   nombre_tienda       1013246 non-null  object
 5   categoria_tienda    1013246 non-null  object
 6   fecha               1013246 non-null  object
 7   precio_normalizado  1013246 non-null  float64
 8   ciudad_normalizada  1013246 non-null  object
 9   mes                 1013246 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 77.3+ MB

In [10]:
df["id_transaccion"].nunique()

1013246

In [11]:
# 1. Columnas a comparar
cols = df.columns.difference(['id_transaccion'])

# 2. Máscara para ver TODOS los involucrados en una duplicidad
# keep=False marca todas las apariciones, no solo la segunda
mascara_revision = df.duplicated(subset=cols, keep=False)

# 3. Mostrar el resultado ordenado para comparar uno junto al otro
revision_duplicados = df[mascara_revision].sort_values(by=list(cols))

print(revision_duplicados.head(10))

         id_transaccion  id_producto      nombre_producto  id_tienda  \
265897           270410            8    Arroz Verde Valle          4
1002741         1019496            8    Arroz Verde Valle          4
824636           838641            8    Arroz Verde Valle          5
1001639         1018394            8    Arroz Verde Valle          5
825051           839068           26         Crema Alpura          1
989764          1006519           26         Crema Alpura          1
681520           693132           74  Papas Ruffles Queso          5
999303          1016058           74  Papas Ruffles Queso          5
860003           874623           92   Sardinas La Sirena          5
999449          1016204           92   Sardinas La Sirena          5

        nombre_tienda categoria_tienda       fecha  precio_normalizado  \
265897        Soriana     Autoservicio  2025-01-01               31.14
1002741       Soriana     Autoservicio  2025-01-01               31.14
824636       Chedraui     Autoservicio  2025-01-01               27.74
1001639      Chedraui     Autoservicio  2025-01-01               27.74
825051        Walmart     Autoservicio  2025-01-01               38.23
989764        Walmart     Autoservicio  2025-01-01               38.23
681520       Chedraui     Autoservicio  2025-01-01               21.66
999303       Chedraui     Autoservicio  2025-01-01               21.66
860003       Chedraui     Autoservicio  2025-01-01               28.42
999449       Chedraui     Autoservicio  2025-01-01               28.42

        ciudad_normalizada  mes
265897              CANCUN    1
1002741             CANCUN    1
824636              CANCUN    1
1001639             CANCUN    1
825051              CANCUN    1
989764              CANCUN    1
681520              CANCUN    1
999303              CANCUN    1
860003              CANCUN    1
999449              CANCUN    1

In [12]:
columnas_relevantes = df.columns.difference(['id_transaccion'])


mascara_no_duplicados = ~df.duplicated(subset=columnas_relevantes, keep='first')

df_final = df[mascara_no_duplicados]

In [14]:
#Ya por ultimo reordenamos las columnas
orden_ideal = [
    'id_transaccion', 
    'id_producto', 
    'nombre_producto',  
    'precio_normalizado', 
    'id_tienda', 
    'nombre_tienda',     
    'categoria_tienda', 
    'ciudad_normalizada', 
    'fecha',
    'mes'
]

# Aplicas el orden
df = df[orden_ideal]


# Guardar resultado
df_final.to_csv('../Datas/7.archivo_limpio.csv', index=False)

print (df_final.info())
df_final.head()

<class 'pandas.core.frame.DataFrame'>
Index: 986940 entries, 0 to 1013242
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_transaccion      986940 non-null  int64
 1   id_producto         986940 non-null  int64
 2   nombre_producto     986940 non-null  object
 3   id_tienda           986940 non-null  int64
 4   nombre_tienda       986940 non-null  object
 5   categoria_tienda    986940 non-null  object
 6   fecha               986940 non-null  object
 7   precio_normalizado  986940 non-null  float64
 8   ciudad_normalizada  986940 non-null  object
 9   mes                 986940 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 82.8+ MB
None

,id_transaccion,id_producto,nombre_producto,id_tienda,nombre_tienda,categoria_tienda,fecha,precio_normalizado,ciudad_normalizada,mes
0,1,63,Salsa Bufalo,6,City Market,Premium,2025-10-27,23.10,CANCUN,10
1,2,32,Agua Epura 1L,5,Chedraui,Autoservicio,2025-12-27,9.49,PUEBLA,12
2,3,77,Cereal Choco Krispis,2,Sam's Club,Mayoreo,2025-11-09,53.36,PUEBLA,11
3,4,45,Mix de Nueces Member's Mark,7,La Comer,Premium,2025-10-27,88.14,CANCUN,10
4,5,42,Yoghurt Griego Yoplait,1,Walmart,Autoservicio,2025-09-03,28.32,GUADALAJARA,9